<div class="title" style="padding-left: 75px; padding-top: 25px;"><b>Introduction</b></div>
<br>
<div class="content">Greetings, my name is <b>Hrithin ramji</b> and I am a web designer hailing from Chennai, India,
    currently at the age of 20.
    During my leisure time, you can find me strumming tunes on my guitar or indulging in a good movie. </div>
<div class="content">

    As a passionate quizzer and avid reader, I spend my time honing my intellect with books in hand. With a positive
    and laid-back approach, I <b>always aim to bring a smile on the faces of those around me.</b>
</div>

<div class="content">Being a very hardworking and ambitious software developer, I am currently pursuing my undergraduate
    degree. Ever since the age of 15, I have been enamored with coding and all things computers.
    <b>With a natural talent for problem-solving, software design has become my true passion.</b>
</div>
<div class="content">With the stroke of my keyboard, I turn intricate lines of code into beautifully functioning
    software.
    I am an architect of the digital world, building intricate systems from scratch with ease.
    Armed with my programming superpowers, I <b>bring innovative ideas to life, one line of code at a time.</b></div>
<!-- <div class="content">Ever since i was 15 years old, i have <b>always enjoyed coding and working with computers in
        general.</b>
    Combined with a knack for problem solving, Software designing is a passion for me.</div>
    <div class="content">With the stroke of my keyboard, <b>I turn intricate lines of code into beautifully functioning software.</b>
        I am an architect of the digital world, building intricate systems from scratch with ease.
        Armed with my programming superpowers, I bring innovative ideas to life, <b>one line of code at a time.</b></div> -->

<div style="margin-top: 80px;" class="box slanted" fxLayout="row" fxLayoutAlign="space-around center"
    fxLayoutGap="100px">
    <div style=" font-size: 22px;" fxFlex="60">
        <div style="padding-bottom: 10px" class="title">skills<br><br></div>I have a strong passion for learning and
        here are some of the tools that I have experience working with.
    </div>
    <div mfxFlex="20">
        <ul style="font-size: 22px; list-style-type: none;">
            <li>C</li>
            <li>C++</li>
            <li>Python</li>
            <li>Java</li>
            <li>SQL</li>
            <li>HTML,CSS</li>
            <li>JavaScript</li>
        </ul>
    </div>
    <div fxFlex="20">
        <ul style="font-size: 22px; list-style-type:none">
            <li>AnguarJS</li>
            <li>MongoDB</li>
            <li>REST/API</li>
            <li>ExpressJS</li>
            <li>NodeJs</li>
            <li>ReactJS</li>
            <li>Apache</li>
        </ul>
    </div>
</div>


<!-- https://codepen.io/anon/pen/bXBbLO -->
<!-- https://codepen.io/anthonyastige/pen/PzWvqo -->

<!-- Hi there. I am Hrithin and I'm a 20 Year old web designer from Chennai, India.
In my free time you can see me jamming to songs with my guitar or enjoying a movie. being an an ardent quizzer and an avid reader, i spend my time sharpening my brain with a book in my hand mostly. After all, medicine, law, business, engineering, these are noble pursuits and necessary to sustain life. But poetry, beauty, romance, love, these are what we stay alive for.
I am a hardworking and aspiring software developer currently pursuing my undergrad. With a healthy winning attitude and a take it easy policy, I always strive to put a smile on the faces of people around me.
Ever since i was 15 years old, i have always enjoyed coding and working with computers in general. Combined with a knack for problem solving, Software designing is a passion for me. -->


<!--Greetings, my name is Hrithin and I am a web designer hailing from Chennai, India, currently at the age of 20. 
    During my leisure time, you can find me strumming tunes on my guitar or indulging in a good movie. 
    As a passionate quizzer and avid reader, I spend my time honing my intellect with books in hand As a hardworking and ambitious software developer, I am currently pursuing my undergraduate degree. 
    With a positive and laid-back approach, I always aim to bring joy to those around me. Ever since the age of 15, I have been enamored with coding and all things computers. 
    With a natural talent for problem-solving, software design has become my true passion. -->
<!-- With the stroke of my keyboard, I turn intricate lines of code into beautifully functioning software.
I am the architect of the digital world, building intricate systems from scratch with ease.
Armed with my programming superpowers, I bring innovative ideas to life, one line of code at a time. -->