<!-- <div class="container" fxLayout="row">
<div class="name1">Hrithin</div>
<div class="name2">Ramji.</div>
</div> -->

<!-- <div style="position:absolute; top: 25%; left: 25%">

    <div style="width: 480px; height: 57px;">

        <div class="typewriter">
            <div class="write" fxLayout="row" fxLayoutAlign="center center">

                <div class="name1">Hrithin</div>
                <div class="name2">Ramji.</div>

            </div>
        </div>

    </div>

    <div style="width: 1500px; height: 100px;">

        <div class="typewriter">
            <div class="write" fxLayout="row" fxLayoutAlign="center center">


                <div class="text-container" fxLayout="row">
                    <div class="text1 typewriter write">Software Developer.</div>
                    <div class="text2 typewriter write">CSE Undergrad.</div>
                    <div class="text1 typewriter write">Coding Enthusiast.</div>
                </div>
            </div>

        </div>

    </div>

</div> -->

<div class="banner">

    <img class="image" src="../../assets/hrithin-trans.png" alt="">

    <div style="padding-left: 140px" class="content" fxLayout="column" fxLayoutGap="70px">

        <div class="name"><span class="fname">HRITHIN</span><span class="lname">RAMJI</span></div>

        <div style="padding-left: 50px;" fxLayout="row" fxLayoutGap="50px">

            <div class="line">

                Code wizard
            </div>

            <div class="line">

                Digital architect
            </div>

            <div class="line">

                Innovation catalyst
            </div>

        </div>

    </div>


</div>