<ng-container *ngIf="loading">

  <app-loading style="z-index: 2000; position: absolute;"></app-loading>

</ng-container>

<ng-container *ngIf="!loading">

  <mat-toolbar style="height: 10%; padding-left: 30px; padding-right: 30px; background-color: black;">

    <img style="filter: invert(100%);" width="40px" src="../favicon.ico" alt="">
    
    <div style="width: 100%; height: 100%;" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="25px">
  
      <div *ngFor="let action of actions">
        
        <div class="actions" (click)="goTo(action.route)"> {{ action.name }} </div>
  
      </div>
  
    </div>
  
  </mat-toolbar>
  
  <router-outlet></router-outlet>

</ng-container>

