<div style="width: 100%; height: 90%; padding: 30px; padding-top: 100px; position: relative;" fxLayout="row"
    fxLayoutGap="10px">

    <div
        style="position: absolute; top: 40px; left: 40px; color: black; font-family: 'Noto Sans', sans-serif; font-weight: bolder; font-size: xx-large;">
        <b>PROJECTS</b> </div>


    <div fxFlex="70">

        <div style="width: 100%; height: 100%;" fxLayout="column" fxLayoutGap="10px">

            <div fxFlex="50">

                <div style="width: 100%; height: 100%;" fxLayout="row" fxLayoutGap="10px">

                    <div fxFlex="70" class="proj-card mat-elevation-z5">

                        <!-- BACKGROUND IMAGE -->
                        <a target="_blank" href="https://weather-phi-pearl.vercel.app">
                            <div class="weather"></div></a>

                            <!-- TEXT CONTAINER -->
                            <div class="text-container">

                                <!-- HEADING -->
                                <div style="position: absolute;">AngularJS, CSS, WeatherAPI</div>

                                <!-- CONTENT -->
                                <div class="content-container big-card">

                                    <div style="margin-bottom: 3px; padding-left: 5px;">Weather App</div>
                                    <div style="padding: 5px;">

                                        A very simple weather app that shows the weather of the city that is
                                        searched(current location default). Implemented using WeatherAPI.

                                    </div>

                                </div>

                            </div>
                        <!-- </a> -->
                    </div>

                    <div fxFlex="30" class="proj-card mat-elevation-z5">

                        <!-- BACKGROUND IMAGE -->
                        <a href="https://github.com/hrithinnnn/demo-app-project/blob/main/Demo%20app%20video.mp4" target="_blank"><div class="database"></div></a>

                        <!-- TEXT CONTAINER -->
                        <div class="text-container">

                            <!-- HEADING -->
                            <div style="position: absolute;">HTML5,CSS,Javascript and MSSQL</div>

                            <!-- CONTENT -->
                            <div class="content-container small-card">

                                <div style="margin-bottom: 3px; padding-left: 5px;">Bill manager and database storage
                                </div>
                                <div style="padding: 5px;">

                                    Working on an project for a startup named Whitechillies, an e-commerce site.
                                    Developing a desktop app for the same. (Demo)

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div fxFlex="50">

                <div style="width: 100%; height: 100%;" fxLayout="row" fxLayoutGap="10px">

                    <div fxFlex="30" class="proj-card">

                        <!-- BACKGROUND IMAGE -->
                        <div class="translator"></div>

                        <!-- TEXT CONTAINER -->
                        <div class="text-container">

                            <!-- HEADING -->
                            <div style="position: absolute;">AngularJS, NodeJS, TranslatorAPI</div>

                            <!-- CONTENT -->
                            <div class="content-container small-card">

                                <div style="margin-bottom: 3px; padding-left: 5px;">Language Learner Assistant</div>
                                <div style="padding: 5px;">

                                    An App that has translator and notes to help you accelerate learning a new language.

                                </div>

                            </div>

                        </div>

                    </div>

                    <div fxFlex="70" class="proj-card">

                        <!-- BACKGROUND IMAGE -->
                        <div class="data-down"></div>

                        <!-- TEXT CONTAINER -->
                        <div class="text-container">

                            <!-- HEADING -->
                            <div style="position: absolute;">Ionic Cordova, TypeScript and Java</div>

                            <!-- CONTENT -->
                            <div class="content-container big-card">

                                <div style="margin-bottom: 3px; padding-left: 5px;">Data Downloader in background</div>
                                <div style="padding: 5px;">

                                    Building an app for Caterpillar Inc. to download data in the background and insert
                                    it into their database for both iOS and android.

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div fxFlex="30" class="proj-card">

        <!-- BACKGROUND IMAGE -->
        <div class="ML"></div>

        <!-- TEXT CONTAINER -->
        <div class="text-container">

            <!-- HEADING -->
            <div style="position: absolute;">Python</div>

            <!-- CONTENT -->
            <div class="content-container small-card" style="top: 115px">

                <div style="margin-bottom: 3px; padding-left: 5px;">Machine learning</div>
                <div style="padding: 5px;">

                    Machine learning modules to find survival rate of passengers in titanic and detect country of
                    origin, given a name.

                </div>

            </div>

        </div>

    </div>

</div>